<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DETAILS</h1>

    <form action="/post" method="post">

        <label for="firstName">First Name:</label>
        <input type="text" placeholder="Your First Name" required name="input1">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" placeholder="Your Last Name" required name="input2">
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>
