<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footerForFragment</title>
</head>
<body>
    <footer id="footerTemplate" th:fragment="myFooter">
        <h4>I am footer template</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laboriosam quibusdam? Est dicta explicabo at quis dolores delectus sed odit?</p>
    </footer>
</body>
</html>