<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section>
        <h1>i am user dashboard</h1>

        <h2 th:text="${user.name}"></h2>
        <h2 th:text="${user.email}"></h2>
        <h2 th:text="${user.password}"></h2>
        <h2 th:text="${user.about}"></h2>
        <h2 th:text="${user.role}"></h2>
        <h2 th:text="${user.enabled}"></h2>
        <h2 th:text="${user.image}"></h2>
        <span th:each="e : ${user.contacts}">
            <h3 th:text="${e}"></h3>
        </span>
    </section>
</body>
</html>